body, html {
height: 100%;
margin: 0;
font-family: Arial, sans-serif;
}

.background {
background: url("/static/church.jpg") no-repeat center center;
background-size: cover;
height: 100vh;
display: flex;
justify-content: flex-end;
align-items: center;
}

.login-card {
background: rgba(168, 199, 238, 0.24); 
backdrop-filter: blur(10px);          
-webkit-backdrop-filter: blur(10px);
padding: 40px;
width: 350px;
margin-right: 5%;
border-radius: 15px;
border: 1px solid rgba(255, 255, 255, 0.3); 
box-shadow: 0 8px 32px rgba(0,0,0,0.4);
font-family: Arial, sans-serif;
color: #333;
}

.login-card h2 {
text-align: center;
margin-bottom: 25px;
font-weight: bold;
}

.btn-custom {
width: 100%;
}

.footer {
background: rgba(245, 244, 244, 0.8);
color: rgb(36, 32, 32);
padding: 20px 0;
text-align: center;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}

.footer-section {
flex: 1;
min-width: 220px;
margin: 10px;
}

.footer-section h4 {
margin-bottom: 10px;
font-size: 16px;
font-weight: bold;
}

.footer-section a {
color: #b48a60;
text-decoration: none;
}

.footer-section a:hover {
text-decoration: underline;
}

.footer-section p {
margin: 5px 0;
}

.footer-section.social {
display: flex;
align-items: center;
gap: 15px;
font-size: 22px;
}

.footer-section.social a {
color: #b48a60;
background: #fff;
padding: 8px;
border-radius: 5px;
box-shadow: 0 2px 6px rgba(0,0,0,0.2);
transition: 0.3s;
}

.footer-section.social a:hover {
background: #b48a60;
color: #fff;
}